* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #ccc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-family: sans-serif;
}

h1 {
    font-size: 10rem;
}

p {
    font-size: 5rem;
}

a {
    color: #888;
    font-size: 2rem;
}