<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/stats.css" />
  </head>
  <body>
    <div id="container">
      <header id="header">
        <navbar class="navbar">
          <img src="./img/logo.png" alt="LOGO" class="logo" />
          <ul class="navbar-list">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/facturas">Facturas</a></li>
          </ul>
        </navbar>
      </header>
    </div>
  </body>
</html>
